RewriteEngine On

RewriteRule ^Admin                            - [L]
RewriteRule ^Api                              - [L]
RewriteRule ^static                           - [L]
RewriteRule ^uploads                          - [L]

RewriteCond %{REQUEST_URI}  !/Web/www/        [NC]
RewriteRule (.*)            /Web/www/$1       [L]